/* colors taken from radix-ui/colors */

@theme {
  --color-*: initial;

  --color-accent-1: var(--amber-1);
  --color-accent-2: var(--amber-2);
  --color-accent-3: var(--amber-3);
  --color-accent-4: var(--amber-4);
  --color-accent-5: var(--amber-5);
  --color-accent-6: var(--amber-6);
  --color-accent-7: var(--amber-7);
  --color-accent-8: var(--amber-8);
  --color-accent-9: var(--amber-9);
  --color-accent-10: var(--amber-10);
  --color-accent-11: var(--amber-11);
  --color-accent-12: var(--amber-12);
  --color-accent-a1: var(--amber-a1);
  --color-accent-a2: var(--amber-a2);
  --color-accent-a3: var(--amber-a3);
  --color-accent-a4: var(--amber-a4);
  --color-accent-a5: var(--amber-a5);
  --color-accent-a6: var(--amber-a6);
  --color-accent-a7: var(--amber-a7);
  --color-accent-a8: var(--amber-a8);
  --color-accent-a9: var(--amber-a9);
  --color-accent-a10: var(--amber-a10);
  --color-accent-a11: var(--amber-a11);
  --color-accent-a12: var(--amber-a12);
  --color-accent-surface: var(--amber-surface);
  --color-accent-indicator: var(--amber-indicator);
  --color-accent-track: var(--amber-track);
  --color-accent-contrast: var(--amber-contrast);

  --color-gray-1: var(--sand-1);
  --color-gray-2: var(--sand-2);
  --color-gray-3: var(--sand-3);
  --color-gray-4: var(--sand-4);
  --color-gray-5: var(--sand-5);
  --color-gray-6: var(--sand-6);
  --color-gray-7: var(--sand-7);
  --color-gray-8: var(--sand-8);
  --color-gray-9: var(--sand-9);
  --color-gray-10: var(--sand-10);
  --color-gray-11: var(--sand-11);
  --color-gray-12: var(--sand-12);
  --color-gray-a1: var(--sand-a1);
  --color-gray-a2: var(--sand-a2);
  --color-gray-a3: var(--sand-a3);
  --color-gray-a4: var(--sand-a4);
  --color-gray-a5: var(--sand-a5);
  --color-gray-a6: var(--sand-a6);
  --color-gray-a7: var(--sand-a7);
  --color-gray-a8: var(--sand-a8);
  --color-gray-a9: var(--sand-a9);
  --color-gray-a10: var(--sand-a10);
  --color-gray-a11: var(--sand-a11);
  --color-gray-a12: var(--sand-a12);
  --color-gray-surface: var(--sand-surface);
  --color-gray-indicator: var(--sand-indicator);
  --color-gray-track: var(--sand-track);
  --color-gray-contrast: var(--sand-contrast);

  --color-black: black;
  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a8: var(--black-a8);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);
  --color-white: white;
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a8: var(--white-a8);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);
}
