/* prose styles based on tailwindcss 3's typography plugin */

:root {
  --tw-prose-body: var(--color-gray-12);
  --tw-prose-headings: var(--color-accent-12);
  --tw-prose-lead: var(--color-gray-11);
  --tw-prose-links: var(--color-accent-a11);
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #adbac7;
  --tw-prose-pre-bg: #22272e;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 80ch;
}

.prose p {
}

.prose [class~='lead'] {
  color: var(--tw-prose-lead);
}

.prose a {
  color: var(--tw-prose-links);
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: color 0.2s;
}

.prose a:hover,
.prose a:focus {
  color: color-mix(in srgb, var(--tw-prose-links) 80%, transparent);
}

.prose strong {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose a strong {
  color: inherit;
}

.prose blockquote strong {
  color: inherit;
}

.prose thead th strong {
  color: inherit;
}

.prose ol {
  list-style-type: decimal;
}

.prose ol[type='A'] {
  list-style-type: upper-alpha;
}

.prose ol[type='a'] {
  list-style-type: lower-alpha;
}

.prose ol[type='A' s] {
  list-style-type: upper-alpha;
}

.prose ol[type='a' s] {
  list-style-type: lower-alpha;
}

.prose ol[type='I'] {
  list-style-type: upper-roman;
}

.prose ol[type='i'] {
  list-style-type: lower-roman;
}

.prose ol[type='I' s] {
  list-style-type: upper-roman;
}

.prose ol[type='i' s] {
  list-style-type: lower-roman;
}

.prose ol[type='1'] {
  list-style-type: decimal;
}

.prose ul {
  list-style-type: disc;
}

.prose ol > li::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.prose ul > li::marker {
  color: var(--tw-prose-bullets);
}

.prose dt {
  color: var(--tw-prose-headings);
  font-weight: 600;
}

.prose hr {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--tw-prose-quote-borders);
  quotes: '"\\201C""\\201D""\\2018""\\2019"';
}

.prose blockquote p:first-of-type::before {
  content: open-quote;
}

.prose blockquote p:last-of-type::after {
  content: close-quote;
}

.prose h1 {
  color: var(--tw-prose-headings);
  font-weight: 800;
}

.prose h1 strong {
  font-weight: 900;
  color: inherit;
}

.prose h2 {
  color: var(--tw-prose-headings);
  font-weight: 700;
}

.prose h2 strong {
  font-weight: 800;
  color: inherit;
}

.prose h3 {
  color: var(--tw-prose-headings);
  font-weight: 600;
}

.prose h3 strong {
  font-weight: 700;
  color: inherit;
}

.prose h4 {
  color: var(--tw-prose-headings);
  font-weight: 600;
}

.prose h4 strong {
  font-weight: 700;
  color: inherit;
}

.prose img {
}

.prose picture {
  display: block;
}

.prose video {
}

.prose kbd {
  font-weight: 500;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow:
    0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%),
    0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
}

.prose code {
  color: var(--tw-prose-code);
  font-weight: 600;
}

.prose code::before {
  content: '`';
}

.prose code::after {
  content: '`';
}

.prose a code {
  color: inherit;
}

.prose h1 code {
  color: inherit;
}

.prose h2 code {
  color: inherit;
}

.prose h3 code {
  color: inherit;
}

.prose h4 code {
  color: inherit;
}

.prose blockquote code {
  color: inherit;
}

.prose thead th code {
  color: inherit;
}

.prose pre {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
}

.prose pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose pre code::before {
  content: none;
}

.prose pre code::after {
  content: none;
}

.prose table {
  min-width: 50%;
  max-width: 100%;
  table-layout: auto;
  text-align: start;
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose thead {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.prose thead th {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
}

.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.prose tbody tr:last-child {
  border-bottom-width: 0;
}

.prose tbody td {
  vertical-align: baseline;
}

.prose tfoot {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.prose tfoot td {
  vertical-align: top;
}

.prose figure > * {
}

.prose figcaption {
  color: var(--tw-prose-captions);
}

.prose pre:has(code) {
  @apply py-4 px-6 my-4 rounded overflow-x-auto;
}

.prose-base {
  font-size: 1rem;
  line-height: 1.75;
}

.prose-base p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-base [class~='lead'] {
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose-base blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-inline-start: 1em;
}

.prose-base h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose-base h2 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose-base h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose-base h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose-base img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base picture {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base picture > img {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-base video {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base kbd {
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
}

.prose-base code {
  font-size: 0.875em;
}

.prose-base h2 code {
  font-size: 0.875em;
}

.prose-base h3 code {
  font-size: 0.9em;
}

.prose-base pre:not(.shiki) {
  font-size: 0.95em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}

.prose-base ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose-base ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose-base li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose-base ol > li {
  padding-inline-start: 0.375em;
}

.prose-base ul > li {
  padding-inline-start: 0.375em;
}

.prose-base > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose-base > ul > li > *:first-child {
  margin-top: 1.25em;
}

.prose-base > ul > li > *:last-child {
  margin-bottom: 1.25em;
}

.prose-base > ol > li > *:first-child {
  margin-top: 1.25em;
}

.prose-base > ol > li > *:last-child {
  margin-bottom: 1.25em;
}

.prose-base ul ul,
.prose-base ul ol,
.prose-base ol ul,
.prose-base ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose-base dl {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose-base dt {
  margin-top: 1.25em;
}

.prose-base dd {
  margin-top: 0.5em;
  padding-inline-start: 1.625em;
}

.prose-base hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose-base hr + * {
  margin-top: 0;
}

.prose-base h2 + * {
  margin-top: 0;
}

.prose-base h3 + * {
  margin-top: 0;
}

.prose-base h4 + * {
  margin-top: 0;
}

.prose-base table {
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose-base thead th {
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose-base thead th:first-child {
  padding-inline-start: 0;
}

.prose-base thead th:last-child {
  padding-inline-end: 0;
}

.prose-base tbody td,
.prose-base tfoot td {
  padding-top: 0.5714286em;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose-base tbody td:first-child,
.prose-base tfoot td:first-child {
  padding-inline-start: 0;
}

.prose-base tbody td:last-child,
.prose-base tfoot td:last-child {
  padding-inline-end: 0;
}

.prose-base figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose-base figure > * {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-base figcaption {
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose-base > :first-child {
  margin-top: 0;
}

.prose-base > :last-child {
  margin-bottom: 0;
}

.prose-lg {
  font-size: 1.125rem;
  line-height: 1.7777778;
}

.prose-lg p {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.prose-lg [class~='lead'] {
  font-size: 1.2222222em;
  line-height: 1.4545455;
  margin-top: 1.0909091em;
  margin-bottom: 1.0909091em;
}

.prose-lg blockquote {
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  padding-inline-start: 1em;
}

.prose-lg h1 {
  font-size: 2.6666667em;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}

.prose-lg h2 {
  font-size: 1.6666667em;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}

.prose-lg h3 {
  font-size: 1.3333333em;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}

.prose-lg h4 {
  margin-top: 1.7777778em;
  margin-bottom: 0.4444444em;
  line-height: 1.5555556;
}

.prose-lg img {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg picture {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg picture > img {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-lg video {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg kbd {
  font-size: 0.8888889em;
  border-radius: 0.3125rem;
  padding-top: 0.2222222em;
  padding-inline-end: 0.4444444em;
  padding-bottom: 0.2222222em;
  padding-inline-start: 0.4444444em;
}

.prose-lg code {
  font-size: 0.8888889em;
}

.prose-lg h2 code {
  font-size: 0.8666667em;
}

.prose-lg h3 code {
  font-size: 0.875em;
}

.prose-lg pre {
  font-size: 0.8888889em;
  line-height: 1.75;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.375rem;
  padding-top: 1em;
  padding-inline-end: 1.5em;
  padding-bottom: 1em;
  padding-inline-start: 1.5em;
}

.prose-lg ol {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-inline-start: 1.5555556em;
}

.prose-lg ul {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-inline-start: 1.5555556em;
}

.prose-lg li {
  margin-top: 0.6666667em;
  margin-bottom: 0.6666667em;
}

.prose-lg ol > li {
  padding-inline-start: 0.4444444em;
}

.prose-lg ul > li {
  padding-inline-start: 0.4444444em;
}

.prose-lg > ul > li p {
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-lg > ul > li > *:first-child {
  margin-top: 1.3333333em;
}

.prose-lg > ul > li > *:last-child {
  margin-bottom: 1.3333333em;
}

.prose-lg > ol > li > *:first-child {
  margin-top: 1.3333333em;
}

.prose-lg > ol > li > *:last-child {
  margin-bottom: 1.3333333em;
}

.prose-lg ul ul,
.prose-lg ul ol,
.prose-lg ol ul,
.prose-lg ol ol {
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-lg dl {
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}

.prose-lg dt {
  margin-top: 1.3333333em;
}

.prose-lg dd {
  margin-top: 0.6666667em;
  padding-inline-start: 1.5555556em;
}

.prose-lg hr {
  margin-top: 3.1111111em;
  margin-bottom: 3.1111111em;
}

.prose-lg hr + * {
  margin-top: 0;
}

.prose-lg h2 + * {
  margin-top: 0;
}

.prose-lg h3 + * {
  margin-top: 0;
}

.prose-lg h4 + * {
  margin-top: 0;
}

.prose-lg table {
  font-size: 0.8888889em;
  line-height: 1.5;
}

.prose-lg thead th {
  padding-inline-end: 0.75em;
  padding-bottom: 0.75em;
  padding-inline-start: 0.75em;
}

.prose-lg thead th:first-child {
  padding-inline-start: 0;
}

.prose-lg thead th:last-child {
  padding-inline-end: 0;
}

.prose-lg tbody td,
.prose-lg tfoot td {
  padding-top: 0.75em;
  padding-inline-end: 0.75em;
  padding-bottom: 0.75em;
  padding-inline-start: 0.75em;
}

.prose-lg tbody td:first-child,
.prose-lg tfoot td:first-child {
  padding-inline-start: 0;
}

.prose-lg tbody td:last-child,
.prose-lg tfoot td:last-child {
  padding-inline-end: 0;
}

.prose-lg figure {
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}

.prose-lg figure > * {
  margin-top: 0;
  margin-bottom: 0;
}

.prose-lg figcaption {
  font-size: 0.8888889em;
  line-height: 1.5;
  margin-top: 1em;
}

.prose-lg > :first-child {
  margin-top: 0;
}

.prose-lg > :last-child {
  margin-bottom: 0;
}
